
<!-- <select id="inputState" class="form-select" [(ngModel)]="selectedStudentIds" [multiple]="true" required>
  <option *ngFor="let student of students" [ngValue]="student.id">{{ student.fullName }}</option>
</select> -->


<!-- Os IDs ainda não estão sendo passados direito -->
<div class="row">
  <div class="col-md-6">
    <ng-multiselect-dropdown
  [placeholder]="'Selecionar alunos'"
  [settings]="dropdownSettings"
  [data]="students"
  [(ngModel)]="selectedItems"
  (onSelect)="addStudents()"
>
</ng-multiselect-dropdown>

  </div>
  

  <!-- <div class="col-md-6">
    <app-btn-custom
      [type]="'submit'"
      [class]="'btn btn-outline-primary'"
      [innerHtml]="'Adicionar'"
      (click)="addStudents()"
    ></app-btn-custom>
  </div> -->
</div>


