.navbar {
  min-height: var(--header-height);
  width: 100%;
  background-image: url("../../../../assets/img/bg/colorbg1.jpg");
  background-position: center 730px;
  background-size: 125%;
  border-bottom: 2px solid rgb(99, 99, 99);
  margin-bottom: 3rem;
}
