<div class="container">
  <div class="row">

    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text">Nome</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" value="{{student[0].name}}">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Idade</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" value="{{student[0].age}}">
      </div>
    </div>

    <div class="col-md-6">
      <div class="input-group mb-3">
        <span class="input-group-text">Data nascimento</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" value="{{student[0].birthDate}}">
      </div>
      <div class="input-group mb-3">
        <span class="input-group-text">Turma</span>
        <input type="text" class="form-control" placeholder="Username" aria-label="Username"
               aria-describedby="basic-addon1" value="{{student[0].class}}">
      </div>
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Responsável</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username"
             aria-describedby="basic-addon1" value="{{student[0].contactName}}">
    </div>

    <div class="input-group mb-3">
      <span class="input-group-text">Número responsável</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username"
             aria-describedby="basic-addon1" value="{{student[0].contactNumber}}">
    </div>
  </div>
</div>
