<section id="list" class="container">
    <form class="container card row py-4">
        <app-student-form
                *ngIf="student"
                [student]="student"
                [title]="'Editar aluno'"
        ></app-student-form>
        <div class="col-12 d-flex justify-content-end">
            <app-custom-button
                    [type]="'submit'"
                    [class]="'btn btn-outline-success me-2'"
                    (click)="updateStudent()"
                    [innerHtml]="'Cadastrar'"
            ></app-custom-button>
            <app-custom-button
                    [type]="'submit'"
                    [class]="'btn btn-outline-danger'"
                    (click)="cancel()"
                    [innerHtml]="'Cancelar'"
            ></app-custom-button>
        </div>
    </form>
</section>
