<section id="list" class="container">

  <h5 class="pt-3 d-flex justify-content-center">{{title}}</h5>
  <form class="container card row py-4">
    <!-- Student information -->
    <div class="col-12 py-2">
      <h6>Informações do aluno</h6>
    </div>

    <div id="student-div">
      <div class="col-12 py-2">
        <input id="studentFullName" type="text" class="form-control"
               [placeholder]="student.fullName ? student.fullName : 'Nome completo do aluno'"
               [(ngModel)]="student.fullName" name="studentFullName" required>
      </div>

      <div class="d-flex justify-content-between">
        <div class="col-md-4 py-2">
          <input id="studentGrade" type="text" class="form-control"
                 [placeholder]="student.grade ? student.grade : 'Série'"
                 [(ngModel)]="student.grade" name="studentGrade" required>
        </div>
        <div class="col-md-3 py-2">
          <input id="studentNationality" type="text" class="form-control"
                 [placeholder]="student.nationality ? student.nationality : 'Nacionalidade'"
                 [(ngModel)]="student.nationality" name="studentNationality" required>
        </div>
        <div class="col-md-3 py-2">
          <input id="studentBirthDate" type="text" class="form-control"
                 [placeholder]="student.birthDate ? student.birthDate : 'Data de nascimento (dd/mm/aaaa)'"
                 [(ngModel)]="student.birthDate" name="studentBirthDate" required>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="col-6 py-2">
          <input id="studentStreetAddress" type="text" class="form-control"
                 [placeholder]="student.streetAddress ? student.streetAddress : 'Endereço da rua'"
                 [(ngModel)]="student.streetAddress" name="studentStreetAddress" required>
        </div>
        <div class="col-3 py-2">
          <input id="studentAddressNumber" type="text" class="form-control"
                 [placeholder]="student.addressNumber ? student.addressNumber : 'Número do endereço'"
                 [(ngModel)]="student.addressNumber" name="studentAddressNumber" required>
        </div>
        <div class="col-md-2 py-2">
          <input id="studentZipCode" type="text" class="form-control"
                 [placeholder]="student.zipCode ? student.zipCode : 'CEP'"
                 [(ngModel)]="student.zipCode" name="studentZipCode" required>
        </div>
      </div>

      <div class="d-flex justify-content-between">
        <div class="col-md-3 py-2">
          <input id="studentHometown" type="text" class="form-control"
                 [placeholder]="student.hometown ? student.hometown : 'Cidade de nascimento'"
                 [(ngModel)]="student.hometown" name="studentHometown" required>
        </div>
        <div class="col-md-3 py-2">
          <app-state-select></app-state-select>
        </div>
        <div class="col-md-2 py-2 form-group">
          <app-religion-select></app-religion-select>
        </div>
        <div class="col-md-2 py-2 form-group">
          <app-race-select></app-race-select>
        </div>
      </div>
    </div>

    <!-- Guardians information -->
    <div id="guardian-div">
      <app-guardian-info
        [title]="'Informações do pai'"
        [showCheckbox]=showCheckbox
        [fullName]="student.guardians[0].fullName"
        [cpf]="student.guardians[0].cpf"
        [rg]="student.guardians[0].rg"
        [email]="student.guardians[0].email"
        [occupation]="student.guardians[0].occupation"
        [company]="student.guardians[0].company"
        [phoneNumber]="student.guardians[0].phoneNumber"
        [streetAddress]="student.guardians[0].streetAddress"
        [addressNumber]="student.guardians[0].addressNumber"
        [neighborhood]="student.guardians[0].neighborhood"
        [cityOfResidence]="student.guardians[0].cityOfResidence"
        [zipCode]="student.guardians[0].zipCode"
      ></app-guardian-info>
      <app-guardian-info
        [title]="'Informações da mãe'"
        [showCheckbox]=showCheckbox
        [fullName]="student.guardians[1].fullName"
        [cpf]="student.guardians[1].cpf"
        [rg]="student.guardians[1].rg"
        [email]="student.guardians[1].email"
        [occupation]="student.guardians[1].occupation"
        [company]="student.guardians[1].company"
        [phoneNumber]="student.guardians[1].phoneNumber"
        [streetAddress]="student.guardians[1].streetAddress"
        [addressNumber]="student.guardians[1].addressNumber"
        [neighborhood]="student.guardians[1].neighborhood"
        [cityOfResidence]="student.guardians[1].cityOfResidence"
        [zipCode]="student.guardians[1].zipCode"
      ></app-guardian-info>
    </div>
  </form>

</section>
