<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0">Alunos cadastrados</h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
            <tr>
              <th scope="col" class="border-0 text-uppercase font-medium">Nome</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Contato</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Idade</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Turma</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Tipo cadastro</th>
              <th scope="col" class="border-0 text-uppercase font-medium">Gerenciar</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>
                <h5 class="font-medium mb-0">Guilherme</h5>
                <span class="text-muted">Belo Horizonte, MG</span>
              </td>
              <td>
                <span class="text-muted">(31) 98822-3975</span><br>
                <span class="text-muted">Josefina da Silva</span>
              </td>
              <td>
                <span class="text-muted">5 anos</span><br>
                <span class="text-muted">05/09/2018</span>
              </td>
              <td>
                <span class="text-muted">5 serie</span><br>
                <span class="text-muted">[###]</span>
              </td>
              <td>
                <select class="form-control category-select" id="form-select">
                  <option>Aluno regular</option>
                  <option>Creche de férias</option>
                </select>
              </td>
              <td>
                <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" title="Editar">
                  <i class="fa fa-edit"></i>
                </button>
                <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" title="Imprimir">
                  <i class="fa fa-upload"></i>
                </button>
                <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2" title="Excluir">
                  <i class="fa fa-trash"></i>
                </button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
