<h5 class="pt-3 d-flex justify-content-center">{{title}}</h5>

<div id="team-div">

  <div class="d-flex justify-content-between">
    <div class="col-4 py-2">
      <label for="teamFullName">Nome da Turma*</label>
      <input id="teamFullName" type="text" class="form-control"
             [placeholder]="team.name ? team.name : ''" [(ngModel)]="team.name" name="teamFullName" required>
    </div>

    <div class="col-md-3 py-2">
      <label for="teamGrade">Série*</label>
      <input id="teamGrade" type="text" class="form-control" [placeholder]="team.grade ? team.grade : ''"
             [(ngModel)]="team.grade" name="teamGrade" required>
    </div>

    <div class="col-4 py-2">
      <label for="teamClassroom">Sala de Aula*</label>
      <input id="teamClassroom" type="text" class="form-control" [placeholder]="team.classRoom ? team.classRoom : ''"
             [(ngModel)]="team.classRoom" name="teamClassroom" required>
    </div>
  </div>

  <div class="col-md-4 py-2 form-group">
    <label>Selecione os alunos (shift + mouse / ctrl + mouse) </label>
    <app-student-select
      [(selectedStudentIds)]="team.studentsId"
      (selectedStudentIdsChange)="onselectedStudentIdsChange($event)">
    </app-student-select>
  </div>

  <div class="col-6 py-2">
    <input id="team" type="text" class="form-control" [placeholder]="selectedStudents ? selectedStudents : 'Nenhum aluno selecionado'"
           [(ngModel)]="selectedStudents" name="teamStudents" [readonly]="true" required>
  </div>

  <div class="col-12 py-2">
    <p class="text-muted">* Informações obrigatórias</p>
  </div>

</div>
